# Node.js
**/node_modules/
**/dist/
**/build/
.npm
**/.eslintcache
**/.vite/

# CodeIgniter 4 / PHP
**/vendor/
**/writable/logs/*
!**/writable/logs/index.html
**/writable/cache/*
!**/writable/cache/index.html
**/writable/session/*
!**/writable/session/index.html
**/writable/uploads/*
!**/writable/uploads/index.html
**/writable/debugbar/*
!**/writable/debugbar/index.html

# Local Uploads
backend/public/uploads/*
!backend/public/uploads/index.html
!backend/public/uploads/.gitkeep

# Environment variables
**/.env
**/.env.development
**/.env.production
**/.env.local
**/.env.test

# Build Script Output
aruba_deploy/
aruba_deploy.zip

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor & System Files
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Docker
docker-compose.override.yml
docker/dev/mysql_data/
